<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<connectionStrings>
		<add name="Port" connectionString="Data Source=DESKTOP-P0J5H9P;Initial Catalog=Port;Integrated Security=True;TrustServerCertificate=true;" />
	</connectionStrings>
	<!--
	<appSettings>
		<add key="parentTable" value="Managers"/>
		<add key="childTable" value="Employees"/>
		<add key="parentID" value="ManagerID"/>
		<add key="childID" value="EmployeeID"/>
		<add key="childNoOfColumns" value="6"/>
		<add key="foreignKey" value="FK_Employees_Managers"/>
		<add key="childColumnNames" value="EmployeeSalary,EmployeeBonus,EmployeeAge,ManagerID,EmployeeName"/>
		<add key="childParamsValues" value="SqlDbType.Float,SqlDbType.Float,SqlDbType.VarChar,SqlDbType.Int"/>
		<add key="childInsertParams" value="@salary,@bonus,@age,@mID,@name"/>
		<add key="selectQueryParent" value="SELECT * FROM Managers"/>
		<add key="selectQueryChild" value="SELECT * FROM Employees"/>
		<add key="insertQuery" value="INSERT INTO Employees(EmployeeSalary, EmployeeBonus, EmployeeAge, ManagerID, EmployeeName) VALUES (@EmployeeSalary, @EmployeeBonus, @EmployeeAge, @ManagerID, @EmployeeName)"/>
		<add key="updateQuery" value="UPDATE Employees SET EmployeeSalary=@EmployeeSalary, EmployeeBonus=@EmployeeBonus,EmployeeAge=@EmployeeAge,  ManagerID=@ManagerID, EmployeeName=@EmployeeName WHERE EmployeeID=@id"/>
		<add key="deleteQuery" value="DELETE FROM Employees WHERE EmployeeID = @id"/>
	</appSettings>
	-->

	<appSettings>
		<add key="parentTable" value="Captains"/>
		<add key="childTable" value="Accommodations"/>
		<add key="childNoOfColumns" value="4"/>
		<add key="parentID" value="CaptainID"/>
		<add key="childID" value="AccommodationID"/>
		<add key="foreignKey" value="FK_Accommodations_Captains"/>
		<add key="childColumnNames" value="AccommodationLocation,AccommodationBeds,CaptainID"/>
		<add key="childParamsValues" value="SqlDbType.VarChar,SqlDbType.Int,SqlDbType.Int"/>
		<add key="childInsertParams" value="@accommodationLocation, @accommodationBeds, @captainID"/>
		<add key="selectQueryParent" value="SELECT * FROM Captains"/>
		<add key="selectQueryChild" value="SELECT * FROM Accommodations"/>
		<add key="insertQuery" value="INSERT INTO Accommodations(AccommodationLocation,AccommodationBeds,CaptainID) VALUES (@AccommodationLocation, @AccommodationBeds, @CaptainID)"/>
		<add key="updateQuery" value="UPDATE Accommodations SET AccommodationLocation=@AccommodationLocation, AccommodationBeds=@AccommodationBeds, CaptainID=@CaptainID WHERE AccommodationID=@id"/>
		<add key="deleteQuery" value="DELETE FROM Accommodations WHERE AccommodationID=@id"/>
	</appSettings>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.IdentityModel.Abstractions" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.24.0.0" newVersion="6.24.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Identity.Client" publicKeyToken="0a613f4dd989e8ae" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.47.2.0" newVersion="4.47.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>